body {
    padding: 2em;
    background-color: rgb(234, 247, 252);
}

.page-title {
    text-align: center;
    margin: 50px;
}


/* Filter section */

#filters {
    border: solid 2px white;
    border-radius: 10px;
    padding: 1em;
    background-color: #e9ecef;

}


/* Right top side (contribute, results counter) */

#contribute {
    float: right;
}

#result-counter {
    margin-top: 100px;
    font-weight: bold;
    float: right;
    padding-right: 100px;
}




/*
    Page sperator (top from results)
*/

#separator {
    margin-top: 50px;
}


/*
    Result table
*/

#main-table {
    border-radius: 10px;
    font-size: 90%;
}

#main-table th {
    color: navy;
    vertical-align: middle;
    text-align: center;
}

#main-table th.sortable-column {
    text-align: left;
}


#main-table td {
    padding: 5px;
    padding-bottom: 10px;
}

/* for the title */
td.no-splitting {
    white-space: nowrap;
    overflow: hidden;
}


.locked-column {
    /* Make text bold */
    font-weight: bold;
    color:navy
}
