body {
    padding: 2em;
    background-color: rgb(199, 219, 226);
}

.page-title {
    text-align: center;
}

#table-filter {
    width: 50%;
    float: left;
}

#contribute-data {
    float: right;

}

#main-table th {
    color: navy;
}

#main-table td {
    padding: 5px;
    padding-bottom: 10px;
}

/* for the title */
td.no-splitting {
    white-space: nowrap;
    overflow: hidden;
}



.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgb(118, 187, 189);
}

.sr-only {
    font-size: 75%;
    color: gray;
}

ul {
    list-style-type: none;
}


.locked-column {
    font-weight: bold; /* Make text bold */
    width: 150px; /* Set a fixed width for column locking */
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 2;
  }