body {
    padding: 2em;
    background-color: rgb(199, 219, 226);
}

.page-title {
    text-align: center;
    margin: 50px;
}


/* Filter section */

#filters {
    border: solid 2px white;
    border-radius: 10px;
    padding: 1em;
    background-color: #e9ecef;

}


/* Right top side (contribute, results counter) */

#contribute {
    float: right;
}

#result-counter {
    margin-top: 100px;
    font-weight: bold;
    float: right;
    padding-right: 100px;
}




/*
    Page sperator (top from results)
*/

#separator {
    margin-top: 50px;
}




#main-table {
    border-radius: 10px;
}

#main-table th {
    color: navy;
    text-align: center;
}

#main-table td {
    padding: 5px;
    padding-bottom: 10px;
}

/* for the title */
td.no-splitting {
    white-space: nowrap;
    overflow: hidden;
}



/* .table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgb(118, 187, 189);
} */

/* .sr-only {
    font-size: 75%;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
} */

/* ul {
    list-style-type: none;
} */


.locked-column {
    /* Make text bold */
    font-weight: bold;
    color:navy
}
